body{
    background-color: #bce9e9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
ul.ulnav{
    border-radius: 5px;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(5, 87, 141);
}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color: #b3a7a7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: #111;
}
